<a href="https://colab.research.google.com/github/Neelimatallavalasa/Neelimatallavalasa/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise-1
a) Running instructions in interactive interpreter and a python script

In [ ]:
print ("welcome to python")

welcome to python

1b) write a program to purposefully raise indentation error and correct it

In [ ]:
#Error code
if True:
print("True") 
else:
  print("False")

IndentationError: ignored

In [ ]:
#corrected code
if True:
   print("True") 
else:
   print("False")

True

In [ ]:
#Error code
if True:
   print("True 1") 
     print("True 2") 
else:
   print("False")

IndentationError: ignored

In [ ]:
#corrected code
if True:
   print("True 1") 
   print("True 2") 
else:
   print("False")

True 1
True 2

 Exercise-2
Write a program to compute distance between two points taking from input from user

In [ ]:
x1=int(input("Enter x coordinate of point1:"))
y1=int(input("Enter y coordinate of point1:"))
x2=int(input("Enter y coordinate of point2:"))
y2=int(input("Enter y coordinate of point2:"))
d=(x2-x1)**2 +(y2-y1)**2
d=d**(1/2)
print(d)

Enter x coordinate of point1:2
Enter y coordinate of point1:5
Enter y coordinate of point2:3
Enter y coordinate of point2:6
1.4142135623730951

 B) write a program add.py that takes two numbers as command line argument and prints it's sum

In [ ]:
import sys
a=int(sys.argv[1]) 
b=int(sys.argv[2]) 
 
sum=a+b
print("Sum of two numbers is:",sum)

 Exercise 3a) 
Write a program for checking weather the given number is an even number or not

In [ ]:
n=int(input("Enter a number:"))
if (n%2==0):
  print(n,"is an even number")
else:
  print(n,"is an odd number")

Enter a number:7
7 is an odd number

3b) Using a for loop, write a program that prints out the decimal equivalents of 1/2, 1/3, 1/4, . . .1/10

In [ ]:
for I in range(2,11):
  print("1 /",I," = ",1/I)

1 / 2  =  0.5
1 / 3  =  0.3333333333333333
1 / 4  =  0.25
1 / 5  =  0.2
1 / 6  =  0.16666666666666666
1 / 7  =  0.14285714285714285
1 / 8  =  0.125
1 / 9  =  0.1111111111111111
1 / 10  =  0.1

3c) Write a program using a for loop that loops over a sequence. What is sequence?

In [ ]:
arr=[4,"ABC",-45,'c',10.5,True,5,10.6,"xyz"]
print("Given array:",arr) 
for x in arr:
   print(x)

Given array: [4, 'ABC', -45, 'c', 10.5, True, 5, 10.6, 'xyz']
4
ABC
-45
c
10.5
True
5
10.6
xyz

 d) Write a program using a while loop that asks the user for a number, and prints a countdownfrom 
that number to zero.

In [ ]:
n=int(input("Enter the number to start countdown:"))
while n>=0:
  print(n)
  n-=1

Enter the number to start countdown:5
5
4
3
2
1
0

Exercise 4
a) Find the sum of all the primes below two million

In [ ]:
n=int(input("Enter an ending number:") 
st=""
 
sum=0
for i in range(2,n) 
  state=True
  for j in range(2,i)
    if(i%j)==0:
      state=False
      break;
  if state==True:
    st+=" "+str(i) 
    sum+=i
print("Prime numbers") 
print(st) 
print("Sum of prime numbers",sum)

SyntaxError: ignored

 4b)Each new term in the Fibonacci sequence is 
generated by adding the previous two terms. Bystarting with 1 and 2, the first 10 terms will be:
1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

In [ ]:
#Fibonacci series
n=int(input("Enter value of n:")) 
a=0
b=1
c=a+b
while c<n:
  print(c,end=' ') 
  a=b
  b=c
  c=a+b

Enter value of n:1000
1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

 4c) By considering the terms in the Fibonacci sequence whose values do not exceed four million,find 
the sum of the even-valued terms.

In [ ]:
n=int(input("Enter value of n:"))
 
a=0
b=1
c=a+b
sum=0
print("Even numbers in Fibonacci series:",end=" ") 
while c<n:
  if c%2==0:
    print(c,end=' ') 
    sum+=c
  a=b
  b=c
  c=a+b
print("\nSum of Fibonacci series is:", sum)

Enter value of n:4000000
Even numbers in Fibonacci series: 2 8 34 144 610 2584 10946 46368 196418 832040 3524578
Sum of Fibonacci series is: 4613732

5a) Write a program to count the numbers of characters in the string and store them in a dictionary data structure

In [ ]:
name=input ("Enter a Name ") 
dic={}
 
for ch in name:
  keys=dic.keys() 
 
  if(ch in keys):
    dic[ch]-dic[ch]+1
  else:
    dic[ch]=1
 
print(" Dictionary is:",dic)

Enter a Name Neelima
 Dictionary is: {'N': 1, 'e': 1, 'l': 1, 'i': 1, 'm': 1, 'a': 1}

5b) write a program to use split and join methods in the string and trace a birthday with a dictionary data structures

In [ ]:
dob={"parnika":"07-Nov-2015", "kk":" 10-10-2000"}
 
name=input("Which person DOB you want") 
l=name.split () 
birth=" "
 
for i in l:
  if i in dob.keys():
     Pers=i
 
print(" ".join([Pers, "Birthday is",dob[Pers]]))

Which person DOB you wantparnika
parnika Birthday is 07-Nov-2015

 Exercise 6 a) write a program combine lists that combines these lists into a dictionary

In [ ]:
subj=["DAA","OS", "DBMS", " P&S", "PPL", " SE"]
marks=[85,96,78,68,98,56]
 
print("Given lists are:") 
print("Subjects names:",subj) 
print("Marks values:",marks) 
 
dic=dict(zip(subj, marks)) 
print("\n Dictionary:",dic)

Given lists are:
Subjects names: ['DAA', 'OS', 'DBMS', ' P&S', 'PPL', ' SE']
Marks values: [85, 96, 78, 68, 98, 56]

 Dictionary: {'DAA': 85, 'OS': 96, 'DBMS': 78, ' P&S': 68, 'PPL': 98, ' SE': 56}

b) Write a program to count frequency of characters in a given file. Can you use characterfrequency to 
tell whether the given file is a Python program file, C program file or a text file?

In [ ]:
filetypes=['.py','.c','.txt']
fn=input("Enter the file name:") 
f=open(fn,"r") 
count=dict() 
 
print(" Given file is ",end=" ") 
for ft in filetypes:
 if(ft in fn):
  if(ft=='.py'):
    print("Python File") 
  elif(ft=='.c'):
    print("C File") 
  elif(ft=='.txt'):
    print("Text File") 
for line in f:
  for ch in line:
      if ch in count:
        count[ch]=count[ch]+1
      else:
        count[ch]=1
print(count) 
fclose()

 Exercise - 7
a) Write a program to print each line of a file in reverse order

In [ ]:
obj=open("sam.txt","r")
if obj:
    st=obj.read()
    print("file content is:")
obj.close()
 
print()
lines=st.split('\n')
 
for ln in lines:
    i=len(ln)-1
    while(i>=0):
      print(ln[i],end='')
      i=i-1
    print()

 
7 
b) Write a program to compute the number of characters, words and lines in a file.

 Exercise - 8 
a) Write a function ball collide that takes two balls as parameters and computes if they arecolliding. 
Your function should return a Boolean representing whether or not the balls arecolliding.

In [ ]:
import math
def ballcollide(b1tup,b2tup):
    x1=b1tup[0]
    y1=b1tup[1]
    x2=b2tup[0]
    y2=b2tup[1]
    r1=b1tup[2]
    r2=b2tup[2]
 
 
    d=math.sqrt((x2-x1)**2+(y2-y1)**2)
    if(d<=r1+r2):
      return True
    else:
        return False
 
 
ball1=(1,2,3)
ball2=(3,2,1)
c=ballcollide(ball1,ball2)
if(c):
    print("balls are collided")
else:
    print("ball are not collided")

balls are collided

 8b) Find mean, median, mode for the given set of numbers in a list.

In [ ]:
def mean(num_list):
    return sum(num_list)/len(num_list)
def median(num_list):
    numlist.sort()
    print(num_list)
    n=len(num_list)
    print("total",n)
    mid=n//2
    print("mid:",mid)
    if(n%2==0):
        return num_list[mid]
    else:
        return (num_list[mid-1]+num_list[mid])/2
def mode(num_list):
    numlist.sort()
    temp=[]
    i=0
    while i<len(num_list):
        temp.append(numlist.count(numlist[i]))
        i+=1
    dic=dict(zip(num_list,temp))
    mode={k for(k,v)in dic.items() if(v==max(temp)}
    return mode
list=[1,1,2,2,3,4,5,3,3]
print("mean of given list:",mean(list))
print("median of given list:",median(list))
 
print("mode of guive list:",mode(list))

SyntaxError: ignored

 Exercise - 9
a) Write a function nearly equal to test whether two strings are nearly equal. Two strings a and bare 
nearly equal when a can be generated by a single mutation on b.

In [ ]:
 
def nearly_eq(str1,str2):
    count=0
    i=j=0
    ss=0
    while(i<len(str1)and j<len(str2)):
        if(str1[i]!=str2[j]):
            count+=1
        if(len(str1)>len(str2)):
            i+=1
 
        elif(len(str1)==len(str2)):
            pass
        else:
            i-=1     
        if(count>1):
             ss-=1
             
        i+=1
        j+=1
        if(count<2):
             ss+=1
 
    return ss
s1=input("enter a string 1:")
s2=input("enter the string2:")
t=nearly_eq(s1,s2)
if(t>1):
    print("neraly equal0")
else:
    print("not nearly equal")

enter a string 1:Neelu
enter the string2:Neelu
neraly equal0

 9b) Write a function dup to find all duplicates in the list.

In [ ]:
def dup(list):
  list1=[]
  for i in list:
    count=list.count(i)
    if(count>1 and (i not in list1)):
        list1.append(i)
        
  print("the dups int he list are:",list1)        
list2=[1,2,1,2]
 
dup(list2)

the dups int he list are: [1, 2]

 9c) Write a function unique to find all the unique elements of a list.

In [ ]:
def unique(list1):
  list2={}
 
  for i in list1:
    c=list1.count(i)
    if c==1:
      list2[i]=c
  print("the unique elements in the list are:",list2)
 
list=[1,2,3,45,45,6,88,88,9]
unique(list)

the unique elements in the list are: {1: 1, 2: 1, 3: 1, 6: 1, 9: 1}

 Exercise - 10 
a) Write a function cumulative product to compute cumulative product of a list of numbers.

In [ ]:
def cumulative_product(list_1,n):
    list_2=[]
    i=0
    list_2.append(list_1[i])
    for i in range(1,n):
        v=list_1[i]*list_2[i-1]
        list_2.append(v)
        
    print(list_2)
list_3=[]
n=int(input("enter size :"))
print("enter the data:")
for i in range(0,n):
    x=int(input())
    list_3.append(x)
cumulative_product(list_3,n)

 10b) Write a function reverse to reverse a list. Without using the reverse function

In [ ]:
def reverse_list(numlist):
    temp=list1[::-1]
    numlist=temp
    return temp
list1=[1,2,3,4]
print("given list is :",list1)
print("after reverse function:",reverse_list(list1))
print("after list is:",list1)

given list is : [1, 2, 3, 4]
after reverse function: [4, 3, 2, 1]
after list is: [1, 2, 3, 4]

 10c) Write function to compute gcd, lcm of two numbers. Each function shouldn’t exceed one line.

In [ ]:
gcd=lambda a,b: a if b==0 else gcd(a,a%b)
lcm=lambda a,b: (a*b)/gcd(a,b)
 
x=4
y=24
print("gcd=",gcd(x,y))
print("lcm=",lcm(x,y))

gcd= 4
lcm= 24.0